body {
  font-family: Helvetica;
  background-color:#07070a;
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
} 